<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<script type="text/javascript" src="js/bootstrap.js"></script>
<meta charset="ISO-8859-1">
<title>TP04 PV CaballeroLuis 2</title>
</head>
<body>
	<div class="encabezado">
		<div class="titulo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h1>Fundación Mascotas</h1>
		</div>
		<div class="navegador">
			<nav class="navegador col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<a class="nav-link" href="index.html">Home</a> <a class="nav-link"
					href="adopciones.html">Adopciones</a> <a class="nav-link"
					href="veterinarias.html">Veterinarias</a> <a class="nav-link"
					href="voluntariado.html">Voluntariado</a>
			</nav>
			<div class="input-group row">
				<input type="text" class="form-control"
					placeholder="¿Que desea buscar?" aria-label="Recipient's username"
					aria-describedby="button-addon2">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button"
						id="button-addon2">Buscar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row esp col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="card-horizontal">
			<div class="imagen col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
				<img src="img/campañadevacunacion.jpg" class="noticia-img"
					alt="logoA" width="120" height="120px">
			</div>
			<div class="card-body col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
				<p>20/02/2020
				<p>
					<a>Comienza la campaña de vacunacion antirrabica en zona sur</a>
			</div>
		</div>	
		<div class="card-horizontal">
			<div class="imagen col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
				<img src="img/castraciones.jpg" class="noticia-img" alt="logoA"
					width="120" height="120px">
			</div>
			<div class="texto col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
				<div>
					<p>01/04/2020
					<p>
				</div>
				<div>
					<a>En el mes de marzo se realizaron 150 castraciones de forma
						gratuita por parte de nuestros veterinarios</a>
				</div>
			</div>
		</div>
	</div>
	<div class="publicidad">
		<div class="row">
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="img/logo.jpg" class="img-rounded" alt="logoA"	>

			</div>
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="img/logo.jpg" class="img-rounded" alt="logoB">

			</div>
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="img/logo.jpg" class="img-rounded" alt="logoC">

			</div>
			<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="img/logo.jpg" class="img-rounded" alt="logoD">

			</div>
		</div>
	</div>
	<div class="footer col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<h5>Avda.Pedro Ortíz de Zárate N° 455 - Tel 388 4789555</h5>
	</div>
</body>
</html>